/* 209 of 1127 CSS properties converted by rtl.daskhat.ir
 These properties should be override originals.
 just load rtl css file after original css file.*/
/* body {direction:rtl;} */
#MainLoader,
.MainLoader {
  background: rgba(0, 0, 0, 0.59) none repeat scroll right 0;
  bottom: 0;
  display: none;
  right: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}
.msgText {
  color: #fff;
  font-size: 47px;
  right: 0;
  line-height: 59px;
  position: absolute;
  left: 0;
  text-align: center;
  text-shadow: 0 1px 2px #000;
  top: 45%;
}
.form-group.has-error .form-control,
.form-group.has-error .input-group .input-group-addon,
.pbx-admin .form-group.has-error .input-group-addon {
  border-color: #dd4b39 !important;
}
.form-group.has-success .form-control,
.form-group.has-success .input-group .input-group-addon,
.pbx-admin .form-group.has-success .input-group-addon {
  border-color: #00a65a !important;
}
.input-group .input-group-addon {
  min-width: 40px;
}
.form-group-sm > i.form-control-feedback {
  top: 25px!important;
}
.form-group:not(.form-group-sm) > i.form-control-feedback {
  top: 35px!important;
}
.form-group.has-feedback div i.form-control-feedback.fa {
  top: 10px;
}
.form-horizontal .form-group.has-feedback div i.form-control-feedback.fa {
  top: 2px;
}
.form-group.form-group-sm.has-feedback div i.form-control-feedback.fa {
  top: 0;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.msg {
  margin-bottom: 5px;
  padding: 2px 5px;
}
.msg strong {
  font-style: italic;
}
.msg.alert-success {
  color: #fff !important;
  border-color: #B9CBC3;
}
.d-m-b {
  margin-bottom: 15px!important;
}
.d-m-t {
  margin-top: 15px!important;
}
.d-m-l {
  margin-right: 15px!important;
}
.d-m-r {
  margin-left: 15px!important;
}
.d-m {
  margin: 15px!important;
}
.m-0 {
  margin: 0!important;
}
.m-t-0 {
  margin-top: 0!important;
}
.m-r-0 {
  margin-left: 0!important;
}
.m-b-0 {
  margin-bottom: 0!important;
}
.m-l-0 {
  margin-right: 0!important;
}
.m-5 {
  margin: 5px!important;
}
.m-t-5 {
  margin-top: 5px!important;
}
.m-r-5 {
  margin-left: 5px!important;
}
.m-b-5 {
  margin-bottom: 5px!important;
}
.m-l-5 {
  margin-right: 5px!important;
}
.m-10 {
  margin: 10px!important;
}
.m-t-10 {
  margin-top: 10px!important;
}
.m-r-10 {
  margin-left: 10px!important;
}
.m-b-10 {
  margin-bottom: 10px!important;
}
.m-l-10 {
  margin-right: 10px!important;
}
.m-15 {
  margin: 15px!important;
}
.m-t-15 {
  margin-top: 15px!important;
}
.m-r-15 {
  margin-left: 15px!important;
}
.m-b-15 {
  margin-bottom: 15px!important;
}
.m-l-15 {
  margin-right: 15px!important;
}
.m-20 {
  margin: 20px!important;
}
.m-t-20 {
  margin-top: 20px!important;
}
.m-r-20 {
  margin-left: 20px!important;
}
.m-b-20 {
  margin-bottom: 20px!important;
}
.m-l-20 {
  margin-right: 20px!important;
}
.m-25 {
  margin: 25px!important;
}
.m-t-25 {
  margin-top: 25px!important;
}
.m-r-25 {
  margin-left: 25px!important;
}
.m-b-25 {
  margin-bottom: 25px!important;
}
.m-l-25 {
  margin-right: 25px!important;
}
.m-30 {
  margin: 30px!important;
}
.m-t-30 {
  margin-top: 30px!important;
}
.m-r-30 {
  margin-left: 30px!important;
}
.m-b-30 {
  margin-bottom: 30px!important;
}
.m-l-30 {
  margin-right: 30px!important;
}
.p-0 {
  padding: 0!important;
}
.p-t-0 {
  padding-top: 0!important;
}
.p-r-0 {
  padding-left: 0!important;
}
.p-b-0 {
  padding-bottom: 0!important;
}
.p-l-0 {
  padding-right: 0!important;
}
.p-5 {
  padding: 5px!important;
}
.p-t-5 {
  padding-top: 5px!important;
}
.p-r-5 {
  padding-left: 5px!important;
}
.p-b-5 {
  padding-bottom: 5px!important;
}
.p-l-5 {
  padding-right: 5px!important;
}
.p-10 {
  padding: 10px!important;
}
.p-t-10 {
  padding-top: 10px!important;
}
.p-r-10 {
  padding-left: 10px!important;
}
.p-b-10 {
  padding-bottom: 10px!important;
}
.p-l-10 {
  padding-right: 10px!important;
}
.p-15 {
  padding: 15px!important;
}
.p-t-15 {
  padding-top: 15px!important;
}
.p-r-15 {
  padding-left: 15px!important;
}
.p-b-15 {
  padding-bottom: 15px!important;
}
.p-l-15 {
  padding-right: 15px!important;
}
.p-20 {
  padding: 20px!important;
}
.p-t-20 {
  padding-top: 20px!important;
}
.p-r-20 {
  padding-left: 20px!important;
}
.p-b-20 {
  padding-bottom: 20px!important;
}
.p-l-20 {
  padding-right: 20px!important;
}
.p-25 {
  padding: 25px!important;
}
.p-t-25 {
  padding-top: 25px!important;
}
.p-r-25 {
  padding-left: 25px!important;
}
.p-b-25 {
  padding-bottom: 25px!important;
}
.p-l-25 {
  padding-right: 25px!important;
}
.p-30 {
  padding: 30px!important;
}
.p-t-30 {
  padding-top: 30px!important;
}
.p-r-30 {
  padding-left: 30px!important;
}
.p-b-30 {
  padding-bottom: 30px!important;
}
.p-l-30 {
  padding-right: 30px!important;
}
.lightboxWraper {
  background: rgba(0, 0, 0, 0.69) none repeat scroll right 0;
  bottom: 0;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.lightboxWaiting {
  right: 0;
  margin-top: -16px;
  position: absolute;
  left: 0;
  top: 50%;
}
.box:not(.box-solid) {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
}
.lightbox-body .box {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #ccc;
  margin: 0;
}
.req.fa.fa-asterisk {
  font-size: 8px;
  vertical-align: 5px;
}
.btn-fa-hover .fa {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 0;
  opacity: 0;
}
.btn-fa-hover:hover .fa {
  opacity: 1;
  width: 15px;
}
.btn-fa-hover {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
div.box-solid {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.box:not(.box-solid) .box-header {
  background: #fff none repeat scroll right 0;
  border-color: #e7e7e7 #e7e7e7 rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 1px 1px 1px;
  margin-right: -1px;
  margin-left: -1px;
  margin-top: -3px;
}
.box-primary .box-header {
  border-bottom-color: #3c8dbc;
}
.box-success .box-header {
  border-bottom-color: #00a65a;
}
.box-info .box-header {
  border-bottom-color: #00c0ef;
}
.box-danger .box-header {
  border-bottom-color: #dd4b39;
}
.sidebar-menu .treeview-menu {
  margin: 0!important;
  padding: 0;
}
.sidebar-menu > li {
  border-bottom: 1px solid rgba(1, 1, 1, 0.41);
}
.sidebar-menu > li.treeview > a {
  border-right: 3px solid #727476;
}
.treeview-menu li {
  padding: 0 5px 0 0 ;
  border-right: 3px solid #727476;
  border-bottom: 1px solid #0F1111;
  background: #000;
}
.skin-blue .sidebar-menu > li.selected > a {
  border-right-color: #3c8dbc;
  color: #fff;
}
.treeview-menu li.active,
.treeview-menu li.selected {
  background: #0e0e0e none repeat scroll right 0;
  position: relative;
}
.treeview-menu li.active {
  border-right-color: maroon!important;
}
.treeview-menu li:not(.selected):hover {
  border-right-color: #BCBCBC !important;
}
.treeview-menu li.active i,
.treeview-menu li.selected i {
  color: #AE1016;
}
.treeview-menu li.active::after,
.treeview-menu li.selected::after {
  color: #ecf0f5;
  content: "\f0d9";
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  left: -2px;
  top: 0;
  transform: rotate(180deg);
}
.sidebar-collapse .treeview-menu {
  padding: 0!important;
}
.sidebar-menu li.header {
  border-top: 1px solid rgba(10, 12, 13, 0.4);
  font-size: 14px;
  padding: 10px 15px 10px 25px ;
}
.g-login {
  border-left: 1px solid rgba(137, 8, 8, 0.25);
  line-height: 25px;
  margin: -4px 0 -4px 4px;
  padding-left: 5px;
}
.fa-btn-icon i {
  border-left: 1px solid rgba(137, 8, 8, 0.1);
  line-height: 25px;
  margin: -2px 0 -8px 4px;
  padding-left: 5px;
  overflow: hidden;
}
.skin-blue .sidebar-menu > li:hover:not(.active,.selected) > a {
  border-right-color: #BCBCBC !important;
  color: #fff;
}
.skin-blue .sidebar-menu > li.selected:not(.has-sub)::after {
  color: #ecf0f5;
  content: "\f0d9";
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  left: -1px;
  top: 6px;
}
.grid-icon {
  font-size: 14px;
}
.form-group select.form-control + i.form-control-feedback,
.selectbox .form-control-feedback {
  left: 25px!important;
}
.fa-icon-selector {
  font-family: FontAwesome;
}
.fa-btn-icon .fa-an-login::before {
  content: "\f023";
}
.fa-btn-icon:hover .fa-an-login::before {
  content: "\f13e";
}
.box.box-solid[class*=bg] > .box-header {
  color: #11414a;
}
.login-bg {
  background: #000 none repeat scroll right 0;
  bottom: 0;
  right: 0;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.login-logo a {
  color: #F7F7F7;
}
.login-box-body {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);
}
td > span.app-popover-ajax {
  display: block;
}
.popover2 {
  max-width: 400px!important;
  width: auto!important;
}
.arrow-dynamic {
  right: 25px!important;
}
#sidebar-menu-container {
  position: relative;
}
#app-print-iframe {
  padding: 0;
  margin: 0;
  display: none;
}
.logo {
  position: fixed;
}
.left-side,
.main-sidebar {
  position: fixed;
}
.notifications-menu .menu a > i {
  right: 13px;
  position: absolute;
  top: 12px;
}
.notifications-menu .menu a > .time-container {
  color: #a7a7a7;
  display: block;
  margin-top: 6px;
}
.notifications-menu .menu a {
  font-size: 12px;
  font-weight: 400!important;
  padding-right: 30px!important;
  text-overflow: unset!important;
  white-space: unset!important;
  position: relative;
}
.has-feedback .form-control {
  padding-left: 28.5px;
}
.gs-jq-grid .ui-jqgrid tr.ui-row-ltr td {
  overflow: visible!important;
}
.grid-dropdown-menu {
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.grid-dropdown-menu .divider {
  background-color: #e5e5e5;
  height: 1px;
  margin: 2px 0;
  overflow: hidden;
}
.grid-dropdown-menu > li {
  overflow: hidden;
}
.mfp-dialog .lightboxWraper {
  background: rgba(0, 0, 0, 0.69) none repeat scroll right 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  bottom: -19px;
  display: none;
  right: -29px;
  position: absolute;
  left: -29px;
  top: -19px;
  z-index: 999;
}
.popup-footer {
  background: #ccc none repeat scroll right 0;
  margin-right: -34px;
  margin-left: -34px;
  padding: 18px;
}
i.req {
  padding-right: 5px;
  padding-top: 5px;
  color: #B93D3D;
}
.abs-full-screen {
  bottom: 0;
  right: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
.checkbox > label > i.form-control-feedback,
.radio > label > i.form-control-feedback,
label > input[type=checkbox] + i.form-control-feedback,
label > input[type=radio] + i.form-control-feedback {
  display: none!important;
}
.text-digit {
  font-size: 10px;
  margin-top: 5px;
  display: block;
}
input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.inline .radio {
  display: inline-block;
  margin-bottom: 14px!important;
  padding-left: 5px;
}
.inline .radio > label {
  white-space: nowrap;
}
.aps-ctrl-p .input-group .input-group-addon {
  background: rgba(0, 0, 0, 0.08) none repeat scroll right 0;
}
.aps-ctrl-p .input-group input + .input-group-addon,
.aps-ctrl-p .input-group input + i + .input-group-addon {
  border-color: #e7e7e7 transparent #e7e7e7 #e7e7e7;
  border-style: solid none solid solid ;
  border-width: 1px 0 1px 1px ;
}
.aps-ctrl-p .input-group .input-group-addon:first-child {
  border-color: #e7e7e7 #e7e7e7 #e7e7e7 transparent;
  border-style: solid solid solid none ;
  border-width: 1px 1px 1px 0 ;
}
.aps-ctrl-p .input-group > input:first-child + i.form-control-feedback {
  left: 35px;
}
.form-group textarea.form-control + i.form-control-feedback {
  left: 27px;
}
.input-group input + .input-group-addon,
.input-group input + i + .input-group-addon {
  min-width: 41px;
}
#difrm {
  display: none;
}
.sweet-overlay {
  z-index: 1140!important;
}
.has-feedback small.help-block {
  display: block;
  margin-top: 0!important;
}
.has-feedback small.help-block::after {
  content: " ";
  display: block;
  position: relative;
}
.adj-fa-2x {
  font-size: 2.4em !important;
}
.content-wrapper {
  position: relative;
}
input:disabled + .input-group-addon {
  background: #fbfbfb none repeat scroll right 0 !important;
}
.widget-user-header-s-h {
  height: 60px !important;
}
.force-show {
  display: block!important;
}
.has-error .app-block-help-span .help-block {
  display: block!important;
}
.app-global-panel .panel,
.app-global-panel.panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.app-global-panel .panel-default > .panel-heading {
  background-color: rgba(248, 248, 248, 0.09);
  background: linear-gradient(to bottom, #fff 0, rgba(237, 237, 237, 0.1) 0%);
}
.app-global-panel.transparent .panel-default > .panel-heading {
  background: right  0!important;
}
body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif, FontAwesome;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
.select2-selection__rendered,
select,
select > option {
  font-family: FontAwesome, 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.form-horizontal .form-group:not(.form-group-sm) div > textarea + i.form-control-feedback {
  top: -4px !important;
  left: 0;
}
.form-horizontal .has-feedback .input-group .form-control-feedback {
  left: 35px;
}
.form-horizontal div:not(.form-group-sm) label + div > textarea + .form-control-feedback {
  top: -4px !important;
  left: 9px!important;
}
.form-group:not(.form-group-sm) > textarea.form-control + i.form-control-feedback {
  left: 0!important;
}
.app-file-list {
  list-style: none;
  padding-right: 0;
  margin: 0;
}
.pro-value .app-file-list {
  line-height: 18px;
}
.app-file-list li {
  padding-right: 0;
}
.inline-file-list.app-file-list li {
  float: right;
  padding-left: 5px;
}
.app-file-list::after,
.app-file-list::before {
  content: " ";
  clear: both;
}
.form-control.app-tags {
  height: auto!important;
  padding-top: 5px!important;
}
.selectize-control.multi .selectize-input [data-value] {
  background-color: #5db5ea !important;
  font-size: 15px;
  line-height: 28px;
  padding: 0 5px 0 24px !important;
  margin: 0 0 3px 3px !important;
}
.selectize-control.multi .selectize-input::after {
  content: '' !important;
}
.selectize-control.multi .selectize-input [data-value]::after {
  content: '' !important;
}
.f-d {
  display: block!important;
}
.text-uppercase {
  text-transform: uppercase;
}
.title-help-block {
  font-size: 10px;
  font-style: italic;
  display: block;
  color: #ccc;
}
.force-help-block {
  font-size: 12px;
  font-style: italic;
  display: block;
  color: #6C6C6C;
}
.form-group-help-block {
  color: #7b7b7b;
  display: block;
  font-size: 12px;
  font-style: italic;
}
.app-ul-properties {
  padding: 0;
  margin: 0;
}
.app-ul-properties li {
  list-style: none;
  display: flex;
}
.app-ul-properties li * {
  width: 100%;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
}
.app-ul-properties li * i {
  display: inline;
}
.app-ul-properties li label {
  font-weight: 700;
  padding-left: 10px;
  position: relative;
  color: rgba(0, 0, 0, 0.72);
}
.app-ul-properties li label.title {
  border-bottom: 2px solid rgba(193, 193, 193, 0.25);
  font-size: 20px!important;
  width: 98%!important;
  -webkit-border-image: -webkit-linear-gradient(left, rgba(95, 95, 95, 0.98) 0, rgba(154, 152, 152, 0.18) 40%, rgba(0, 0, 0, 0) 100%) 0 0 1 1;
  -moz-border-image: -moz-linear-gradient(left, rgba(95, 95, 95, 0.98) 0, rgba(154, 152, 152, 0.18) 40%, rgba(0, 0, 0, 0) 100%) 0 0 1 1;
  -o-border-image: -o-linear-gradient(left, rgba(95, 95, 95, 0.98) 0, rgba(154, 152, 152, 0.18) 40%, rgba(0, 0, 0, 0) 100%) 0 0 1 1;
  border-image: linear-gradient(to right, rgba(95, 95, 95, 0.98) 0, rgba(154, 152, 152, 0.18) 40%, rgba(0, 0, 0, 0) 100%) 0 0 1 1;
}
.app-ul-properties li label.w-clone {
  padding-left: 20px;
}
.app-ul-properties li label.w-clone::after {
  content: '';
    position: absolute;
    left: 15px;
}

.app-ul-properties li::after{
    clear: both;
}

.app-ul-properties::after,.app-ul-properties::before{
    content: " ";
    display: table;
    clear: both;
}

.big-number{
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    color: #7A8082;
}

.big-number.center-big-number{
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    margin-top: -42px;
}

.f-content,.flex-container{
    display: flex!important;
}

.f-content.f-hz>*,.flex-container.f-hz>*{
    display: inline-block;
}

.text-no-wrap{
    white-space: nowrap;
}

.f-w-1{
    display: inline-block;
    width: 8.333333%!important;
}

.f-w-2{
    display: inline-block;
    width: 16.666667%!important;
}

.f-w-3{
    display: inline-block;
    width: 25%!important;
}

.f-w-4{
    display: inline-block;
    width: 33.333333%!important;
}

.f-w-5{
    display: inline-block;
    width: 41.666667%!important;
}

.f-w-6{
    display: inline-block;
    width: 50%!important;
}

.f-w-7{
    display: inline-block;
    width: 58.333333%!important;
}

.f-w-8{
    display: inline-block;
    width: 66.666667%!important;
}

.f-w-9{
    display: inline-block;
    width: 75%!important;
}

.f-w-10{
    display: inline-block;
    width: 83.333333%!important;
}

.f-w-11{
    display: inline-block;
    width: 91.666667%!important;
}

.f-w-12{
    display: inline-block;
    width: 100%!important;
}

.flex-item{
    display: inline-block;
    width: 100%;
}

.b-r-color{
    border-left: 1px solid rgba(0,0,0,.09);
    border-image: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 50%,rgba(0,0,0,0) 100%) 1 100%;
}

.app-big-nav{
    -webkit-box-shadow: 0 0 1px 0 rgba(129,129,129,.51);
    -moz-box-shadow: 0 0 1px 0 rgba(129,129,129,.51);
    box-shadow: 0 0 1px 0 rgba(129,129,129,.51);
}

.app-big-nav.full-width .nav-tabs{
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
    background: #F1F4F2;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(146,142,142,.23);
}

.app-big-nav.full-width .tab-content{
    background: #F5F5F5;
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
}

.app-big-nav .tab-content{
    background: #feffff;
    min-height: 100px;
}

.app-big-nav .nav-tabs{
    display: flex;
    z-index: 9;
    position: relative;
    background: #fff;
}

.app-big-nav .nav-tabs li{
    display: inline-block;
    width: 100%;
    border: 0;
    height: unset;
    border-bottom: 3px solid #ccc;
}

.app-big-nav .nav-tabs li a{
    background: rgba(219,217,217,.18);
    color: rgba(157,153,153,.34);
    height: 100%;
}

.app-big-nav .nav-tabs li a small{
    font-size: 12px;
    font-weight: 400;
    display: block;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-big-nav .nav-tabs li.active{
    position: relative;
}

.app-big-nav .nav-tabs li.active::after{
    font-family: FontAwesome;
    content: '\f0d7';
    position: absolute;
    right: 50%;
    bottom: -45px;
    font-size: 4em;
    margin-right: -20px;
    color: #fff;
    text-shadow: 0 3px rgba(146,142,142,.72);
    z-index: 9;
}

.app-big-nav .nav-tabs li.active>a{
    background: #fff;
    color: rgba(0,0,0,.7);
    outline: 0!important;
}

.app-big-nav .nav-tabs li.active>a:focus,.app-big-nav .nav-tabs li.active>a:hover{
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.app-big-nav .nav-tabs>li>a{
    border-radius: 0!important;
    margin: 0;
    padding: 20px;
    border: 0;
    border-left: 1px solid rgba(0,0,0,.09);
    -webkit-border-image: -webkit-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 50%,rgba(0,0,0,0) 100%) 1 100%!important;
    -moz-border-image: -moz-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 50%,rgba(0,0,0,0) 100%) 1 100%!important;
    -o-border-image: -o-linear-gradient(bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 50%,rgba(0,0,0,0) 100%) 1 100%!important;
    border-image: linear-gradient(to top,rgba(0,0,0,0) 0,rgba(0,0,0,.2) 50%,rgba(0,0,0,0) 100%) 1 100%!important;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}

.app-big-nav .nav-tabs>li>a i{
    font-size: 2.5em;
    display: block;
}

.skin-yellow .app-big-nav .nav-tabs li{
    border-bottom: 3px solid #F39C12;
}

.skin-yellow .app-big-nav .nav-tabs li.active::after{
    text-shadow: 0 3px #F39C12;
}

.skin-blue .app-big-nav .nav-tabs li{
    border-bottom: 3px solid #5DB5EA;
}

.skin-blue .app-big-nav .nav-tabs li.active::after{
    text-shadow: 0 3px #5DB5EA;
}

.skin-green .app-big-nav .nav-tabs li{
    border-bottom: 3px solid #00A65A;
}

.skin-green .app-big-nav .nav-tabs li.active::after{
    text-shadow: 0 3px #00A65A;
}

@media all and (min-width:768px) and (max-width:991px){
    .app-big-nav .nav-tabs li a{
        font-size: 14px;
        padding: 5px;
    }

    .app-big-nav .nav-tabs li a i{
        font-size: 16px;
    }

    .app-big-nav .nav-tabs li a small{
        font-size: 10px;
    }

}

@media all and (max-width:767px){
    .app-big-nav .nav-tabs li a{
        font-size: 12px;
        padding: 2px;
    }

    .app-big-nav .nav-tabs li a i{
        font-size: 12px;
    }

    .app-big-nav .nav-tabs li a small{
        font-size: 10px;
    }

}

.app-theme-gradient{
    background: -o-linear-gradient(rgba(80,77,77,.3),rgba(247,190,96,.03));
    filter: progid;
    color: #615A5A;
}

.app-theme-gradient .table-shadow{
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.34);
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.34);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.34);
}

.app-theme-gradient .table-bordered{
    border: 1px solid #6C5F5F;
}

.app-theme-gradient .table>thead>tr>th{
    border-bottom: 2px solid #908D8D;
    background: rgba(76,76,76,.05);
}

.app-theme-gradient .table>tbody>tr>td,.app-theme-gradient .table>tbody>tr>th,.app-theme-gradient .table>tfoot>tr>td,.app-theme-gradient .table>tfoot>tr>th,.app-theme-gradient .table>thead>tr>td,.app-theme-gradient .table>thead>tr>th{
    border-top: 1px solid #908D8D;
}

.app-theme-gradient .table-bordered>tbody>tr>td,.app-theme-gradient .table-bordered>tbody>tr>th,.app-theme-gradient .table-bordered>tfoot>tr>td,.app-theme-gradient .table-bordered>tfoot>tr>th,.app-theme-gradient .table-bordered>thead>tr>td,.app-theme-gradient .table-bordered>thead>tr>th{
    border: 1px solid #6C5F5F;
}

.skin-yellow .app-theme-gradient{
    background: -o-linear-gradient(rgba(242,158,17,.3),rgba(247,190,96,.03));
    filter: progid;
    color: #615A5A;
}

.skin-blue .app-theme-gradient{
    background: -o-linear-gradient(rgba(4,214,241,.3),rgba(135,242,237,.03));
    filter: progid;
    color: #615A5A;
}

.skin-green .app-theme-gradient{
    background: -o-linear-gradient(rgba(4,241,4,.3),rgba(153,242,136,.03));
    filter: progid;
    color: #615A5A;
}

.dl-horizontal.w-clone dt::after{
    content: '';
  font-weight: 700;
  position: absolute;
  left: 0;
}
.dl-horizontal.w-clone dt {
  padding-left: 15px;
  position: relative;
}
.dl-horizontal.label-text-left dt {
  text-align: right;
}
.dl-horizontal.label-text-center dt {
  text-align: center;
}
.box.state-loading,
.panel.state-loading {
  position: relative;
}
.box.state-loading::before,
.panel.state-loading::before {
  content: ' ';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: -2px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.box.state-loading::after,
.panel.state-loading::after {
  display: inline-block;
  font-family: FontAwesome;
  font-kerning: auto;
  line-height: 35px;
  font-size: 35px;
  font-style: normal;
  font-synthesis: weight style;
  font-weight: 400;
  animation: 2s linear 0s normal none infinite running fa-spin;
  color: #fff;
  content: "\f013";
  right: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  z-index: 100;
  margin-top: -10px;
  margin-right: -10px;
}
.app-image-input {
  max-width: 100%;
}
.form-horizontal div:not(.form-group-sm) label + div > select + .form-control-feedback {
  top: 0!important;
}
.label-required::after {
  content: "*";
  padding-right: 5px;
  color: #D64848;
}
.label-required.r-msg::after {
  vertical-align: -5px;
  padding-left: 5px;
}
.c-preview {
  font-size: 18px;
}
.app-default-color {
  line-height: 34px;
}
.app-default-captcha img.app-captcha-img,
.app-default-captcha input.app-captcha-input {
  display: inline-block;
  width: 50%;
}
.app-default-captcha img.app-captcha-img {
  max-height: 38px;
  width: auto!important;
}
.g-recaptcha > div {
  width: 100%!important;
}
.togglebutton label + .form-group-help-block {
  margin-right: 52px;
  margin-top: -22px;
}
.app-file-upload-container .app-file-input-conteiner {
  overflow: hidden;
}
.app-file-upload-container input[type=file] {
  text-overflow: ellipsis;
}
.app-file-upload-container .file-preview-img {
  text-align: left;
}
.app-file-upload-container .file-preview-img dl {
  margin-bottom: 0;
}
.app-file-upload-container .file-preview-img dl dt {
  text-align: right;
  width: 80px;
  position: relative;
}
.app-file-upload-container .file-preview-img dl dt::after {
  content: '';
  padding: 0 5px;
  position: absolute;
  left: 0;
  top: 0;
}
.app-file-upload-container .file-preview-img dl dd {
  text-align: right;
  margin-right: 90px;
}
.app-file-upload-container .file-preview-img i {
  font-size: 53px;
  line-height: 20px;
  margin-top: 10px;
  margin-bottom: -10px;
}
.app-file-upload-container .file-preview-img img {
  max-height: 46px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: -7px;
}
.aps-ctrl-p .form-horizontal-text-left label,
.form-horizontal-text-left label {
  text-align: right!important;
}
body > .modal-backdrop.in {
  z-index: 700!important;
}
.note-editor .modal-body {
  padding: 30px;
}
.app-edittor-limit-text {
  margin-top: -15px;
  font-size: 10px;
  position: absolute;
  bottom: 12px;
  left: 23px;
  opacity: 0.5;
}
.form-horizontal .app-edittor-limit-text {
  bottom: 50px;
  left: 35px;
}
.app-grid-property-row > div {
  display: block;
  clear: both;
}
.app-grid-property-row > div::after,
.app-grid-property-row > div::before {
  content: '';
  clear: both;
}
.app-grid-property-row > div:last-child {
  margin-bottom: 5px;
}
.aps-ctrl-p button .ripple-container {
  opacity: 0.3;
}
.app-ins {
  font-weight: 700;
}
.app-custom-fld-container {
  height: 1px;
  visibility: hidden;
}
.ticket-reply .panel-body {
  padding: 5px!important;
  overflow: hidden;
  position: relative;
}
.admin-user.ticket-reply .panel-body {
  background: rgba(248, 255, 249, 0.7);
}
.admin-user.ticket-reply .panel-body .user-type {
  position: absolute;
  top: 15px;
  transform: rotate(-45deg);
  background: rgba(5, 5, 5, 0.09);
  min-width: 90px;
  text-align: center;
  right: -20px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 19px;
}
.ticket-reply .panel-body .reply-text {
  min-height: 100px;
  margin-top: -6px;
  margin-bottom: -6px;
  margin-left: -6px;
  background: #fff;
  border-right: 1px solid #ddd;
  padding: 10px;
  border-top-left-radius: 7px;
}
.ticket-reply .panel-body .ticket-footer-info {
  border-right: 1px solid #ddd;
  background: #fff;
  border-top: 1px solid rgba(227, 227, 227, 0.14);
  min-height: 30px;
  padding: 5px 10px;
  border-bottom-left-radius: 7px;
  margin-bottom: -5px;
  margin-left: -5px;
  font-size: 12px;
}
.ticket-reply .panel-footer {
  padding: 0;
  border-top: none;
}
.admin-user.ticket-reply .panel-footer {
  background: rgba(248, 255, 249, 0.7);
}
.ticket-reply .panel-footer .row {
  margin: 0 10px 0 0 ;
}
.user-profile {
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 0;
}
.user-profile .r-user-title {
  width: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pro-title {
  display: inline-block;
  vertical-align: top;
}
.pro-title::after {
  content: '';
}
.pro-value {
  display: inline-block;
  vertical-align: top;
}
@media all and (max-width: 768px) {
  .dl-horizontal.w-clone dt::after {
    display: none!important;
  }
}
@media all and (max-width: 480px) {
  .admin-user.ticket-reply .panel-body .user-type {
    line-height: 12px;
    right: -29px;
    top: 11px;
    font-size: 7px;
  }
  .user-profile .r-user-title {
    font-size: 7px;
  }
  .ticket-reply .panel-body .reply-text {
    min-height: 77px;
    font-size: 12px;
  }
  .pro-title {
    display: block;
  }
  .pro-title::after {
    content: '';
  }
  .pro-value {
    display: block;
  }
}
.abs-c {
  position: relative;
}
.abs-r-t {
  position: absolute;
  top: 0;
  left: 0;
}
.gridtitle > *,
.gridtitle > .form-group > * {
  display: inline-block;
  white-space: nowrap;
}
.gridtitle > .form-group {
  margin-bottom: 0!important;
  margin-top: -5px;
}
.gridtitle > .form-group > .togglebutton {
  min-width: 45px;
  margin-top: -4px;
  margin-left: 10px;
}
.of-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
}
.t-of-ellipsis {
  text-overflow: ellipsis;
}
.s-note-fs .content-wrapper {
  z-index: 1040;
}
.note-editor .modal-dialog {
  margin: 58px auto;
}
.note-editor input[type=file] {
  padding: 0!important;
  line-height: 13px!important;
  font-size: 13px!important;
}
.note-editor .note-current-fontname {
  min-width: 95px;
  display: inline-block;
}
.mfp-wrap {
  z-index: 19000;
}
.mfp-content {
  z-index: 19001;
}
.c-google,
.fa-google.a-c {
  color: #DC4E41;
}
.c-facebook,
.fa-facebook.a-c {
  color: #3B5998;
}
.ap-fb-messenger.a-c,
.c-fb-messenger {
  color: #00bdff;
}
.c-twitter,
.fa-twitter.a-c {
  color: #1DA1F2;
}
.c-paypal {
  color: #3B5998;
}
.c-envato {
  color: #81b441;
}
.fa-envato {
  font-family: FontAwesome,appsbd!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-envato:before {
  content: "\e900";
}
textarea.form-control {
  min-height: 85px;
}
.bg-disable {
  background-color: #eee !important;
}
.form-group:not(.form-group-sm) input[type=number]::-moz-placeholder {
  line-height: 20px!important;
}
.form-group-sm input[type=number]::-moz-placeholder {
  line-height: 15px!important;
}
.app-copy-btn {
  cursor: pointer;
}
.debug-log {
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  border-radius: 0!important;
  display: block;
  border: 1px solid #ccc;
  min-height: 80px;
  max-height: 200px;
  overflow: auto;
}
.aps-ctrl-p .form-group:not(.form-group-xs):not(.form-group-sm):not(.form-group-lg) textarea.form-control,
div.form-control,
textarea.form-control {
  height: auto;
  min-height: 60px;
}
.btn-facebook {
  background: #4267b2;
  color: #fff;
}
.btn-facebook:hover {
  background: #325599;
  color: #fff;
}
.btn-twitter {
  background: #1DA1F2;
  color: #fff;
}
.btn-twitter:hover {
  background: #1398E6;
  color: #fff;
}
.btn-envato {
  background: #81b441;
  color: #fff;
}
.btn-envato:hover {
  background: #52b412;
  color: #fff;
}
.btn-google {
  background: #D9534F;
  color: #fff;
}
.btn-google:hover {
  background: #C23A37;
  color: #fff;
}
.btn-linkedin {
  background: #0077B5;
  color: #fff;
}
.btn-linkedin:hover {
  background: #0894da;
  color: #fff;
}
.btn-yahoo {
  background: #261A56;
  color: #fff;
}
.btn-yahoo:hover {
  background: #3a2491;
  color: #fff;
}
.h-c .h-el {
  opacity: 0;
  transition: all 0.5s ease;
}
.h-c:hover .h-el {
  opacity: 1;
}
.src-text {
  font-weight: 700;
}
.app-loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  top: 50%;
  right: 50%;
}
.app-loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  float: right;
  margin-right: 2px;
  -webkit-animation: delay 0.8s infinite ease-in-out;
  animation: delay 0.8s infinite ease-in-out;
}
.app-loader .bar1 {
  background-color: #FFF;
}
.app-loader .bar2 {
  background-color: #FFF;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.app-loader .bar3 {
  background-color: #FFF;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.app-loader .bar4 {
  background-color: #FFF;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.app-loader .bar5 {
  background-color: #FFF;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.app-loader .bar6 {
  background-color: #FFF;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
@-webkit-keyframes delay {
  0%,
  100%,
  40% {
    -webkit-transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes delay {
  0%,
  100%,
  40% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.app-loader.bar-black [class*=bar],
.app-loader.bar-black [class^=bar] {
  background: #4d4c4c;
}
.app-loader.sm-loader {
  height: 30px;
}
.app-loader.sm-loader [class*=bar],
.app-loader.sm-loader [class^=bar] {
  width: 4px;
}
.system-msg-list .alert-success {
  background-color: #a3f8aa !important;
  color: #076616 !important;
  border-color: rgba(8, 92, 15, 0.14);
}
.system-msg-list .alert-success > .system-icon {
  border-left: 1px solid rgba(8, 92, 15, 0.14);
}
.system-msg-list .alert-warning {
  color: #7e4c02 !important;
  border-color: #fed9a3;
  background-color: #ffe6be !important;
}
.system-msg-list .alert-warning > .system-icon {
  border-left: 1px solid #fed9a3;
}
.system-msg-list .alert-danger {
  background-color: #f4e3e1 !important;
  border-color: #f9cfca;
  color: #c01f0d !important;
}
.system-msg-list .alert-danger > .system-icon {
  border-left: 1px solid #f9cfca;
}
.system-msg-list .system-msg {
  position: relative;
  padding: 10px 50px 10px 75px ;
}
.system-msg-list .system-msg > .btn.system-dissmiss {
  text-decoration: none!important;
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 10px;
}
.system-msg-list .system-msg .system-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 45px;
  text-align: center;
}
.system-msg-list .system-msg .system-icon > i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -12px;
  margin-right: -12px;
}
.system-msg-list .system-msg .btn {
  text-decoration: none;
}
.top-bar-noti-icon {
  font-size: 33px;
  line-height: 46px;
}
.animated-2 {
  -webkit-animation-iteration-count: 2!important;
  animation-iteration-count: 2!important;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a {
  padding-top: 5px!important;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > div,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 > small,
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > small {
  margin: 0!important;
  right: 0;
}
.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a p {
  margin: 0 0 12px 0 !important;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.navbar-nav > .messages-menu > .dropdown-menu,
.navbar-nav > .notifications-menu > .dropdown-menu,
.navbar-nav > .tasks-menu > .dropdown-menu {
  width: 380px;
}
.select2-selection--multiple input.select2-search__field {
  background: right  0!important;
  border: none!important;
}
.text-em {
  font-style: italic!important;
}
.aps-ctrl-p .select2.select2-container--focus {
  box-shadow: 0 1px 0 #66afe9;
}
.form-group-sm .radio-inline .radio {
  padding-top: 0!important;
  height: 20px;
  margin-bottom: 2px!important;
}
.form-group-sm .radio-inline .radio > label {
  line-height: 11px!important;
}
.form-group-sm .radio-inline .radio > label > .check,
.form-group-sm .radio-inline .radio > label > .circle {
  margin-top: -7px;
  height: 18px;
  width: 18px;
}
#MainLoader .app-loader {
  position: absolute;
  top: 50%;
  margin-top: -80px;
  margin-right: -40px;
}
.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}
.mfp-inline-holder .mfp-content > div {
  margin: 0 auto;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
}
ul.app-nav-stacked li {
  padding: 10px 15px;
}
ul.app-nav-stacked li > a {
  padding: 0;
}
.info-box .info-box-icon {
  position: relative;
}
.info-box .info-box-icon i.fa {
  margin-top: 15px!important;
  display: block;
}
.info-box .info-box-icon .sm-outline-text {
  position: absolute;
  right: 0;
  bottom: -28px;
  font-size: 17px;
  left: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.info-box-sm {
  min-height: 60px;
}
.info-box-sm .info-box-icon {
  height: 60px;
  width: 60px;
  font-size: 28px;
}
.info-box-sm .info-box-icon i.fa {
  margin-top: 5px!important;
  display: block;
}
.info-box-sm .info-box-icon .sm-outline-text {
  position: absolute;
  right: 0;
  bottom: -30px;
  font-size: 11px;
  left: 0;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.info-box-sm .info-box-content {
  color: #585858;
  padding: 2px 5px;
  margin-right: 60px;
  position: relative;
}
.info-box-sm .info-box-content .info-box-text {
  font-size: 11px;
}
.info-box-sm .info-box-content > a.btn {
  position: absolute;
  top: 1px;
  left: 2px;
}
.bg-green-gradient .box-header {
  color: #fff !important;
}
.art-box {
  margin-bottom: 25px;
}
.art-box h1,
.art-box h2,
.art-box h3,
.art-box h4,
.art-box h5 {
  margin: 10px 0;
}
.art-box .art-title-btn {
  font-size: 10px;
}
.art-kn-list {
  margin: 0;
  padding: 0;
}
.art-kn-list li {
  list-style: outside none none;
  padding: 10px 2px;
  border-bottom: 1px dashed rgba(18, 17, 17, 0.11);
}
.art-kn-list li a > i {
  margin-left: 10px;
}
.art-kn-list li a .view-counter {
  color: rgba(0, 0, 0, 0.09);
}
.art-kn-list li:last-child {
  border-bottom: unset;
}
.art-kn-list li.is-sticky a > i {
  color: #59d045;
}
.art-kn-list li.art-kn-view-all {
  text-align: center;
  color: #504f4f;
}
.form-group textarea + i.form-control-feedback {
  top: -4px !important;
  left: 0!important;
}
.aps-ctrl-p .form-horizontal .form-group-sm .togglebutton {
  margin-top: 1px!important;
}
small[data-bv-result=INVALID] {
  color: #e92626;
}
.aps-ctrl-p .input-group-btn.bs-dropdown-to-select-group {
  margin: unset;
  padding: unset;
  background: #fff;
}
.aps-ctrl-p .input-group-btn.bs-dropdown-to-select-group > .btn {
  padding: 8px 10px 7px 10px ;
  margin: 0;
  background: #fff;
}
.aps-ctrl-p .input-group-btn.bs-dropdown-to-select-group + input {
  padding-right: 5px;
}
.aps-ctrl-p .form-group .input-group div.input-group-btn + .form-control::-moz-placeholder {
  font-size: 17px;
  line-height: 35px;
}
.ui-jqgrid-btable .ticket-title {
  font-size: 12px;
}
.app-vertical-tab-container .nav-pills > li.active > a,
.app-vertical-tab-container .nav-pills > li.active > a:focus,
.app-vertical-tab-container .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: transparent;
  border-top: 0;
}
.app-vertical-tab-container .nav-tabs-dropdown {
  display: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.app-vertical-tab-container .nav-tabs-dropdown:before {
  content: '\e114';
  font-family: 'Glyphicons Halflings';
  position: absolute;
  left: 30px;
}
.app-vertical-tab-container ul.app-v-tab-menu {
  background: #000;
}
.app-vertical-tab-container ul.app-v-tab-menu > li + li {
  margin-top: 1px;
  margin-right: 0;
}
.app-vertical-tab-container ul.app-v-tab-menu > li > a {
  border-right: 3px solid #727476;
  padding: 8px 7px;
  color: #8aa4af;
  border-bottom: 1px solid #2e2d2d;
}
.app-vertical-tab-container ul.app-v-tab-menu > li > a.active,
.app-vertical-tab-container ul.app-v-tab-menu > li > a:hover {
  color: #FFF;
  border-right: 3px solid #b8c7ce;
  background: #0e0e0e;
  border-bottom: 1px solid #2e2d2d;
  border-left: 0;
}
.app-vertical-tab-container ul.app-v-tab-menu > li > a .sub-des {
  font-size: 12px;
  display: block;
  margin-right: 20px;
}
.app-vertical-tab-container ul.app-v-tab-menu > li.active {
  position: relative;
}
.app-vertical-tab-container ul.app-v-tab-menu > li.active > a {
  color: #FFF;
  border-right: 3px solid maroon;
  border-left: 0;
}
.app-vertical-tab-container ul.app-v-tab-menu > li.active > a .ap,
.app-vertical-tab-container ul.app-v-tab-menu > li.active > a .fa {
  color: #f31212;
}
.app-vertical-tab-container ul.app-v-tab-menu > li.active::after {
  font-family: FontAwesome;
  content: '\f0da';
  position: absolute;
  left: -9px;
  top: 50%;
  margin-top: -20px;
  font-size: 30px;
  color: #000;
}
.text-italic {
  font-style: italic;
}
.u-unseen {
  color: #ccc !important;
}
.u-seen {
  color: #0ad221 !important;
}
.fb_dialog.fb_dialog_advanced {
  bottom: 85px!important;
  left: 45px!important;
}
#fb-root {
  z-index: 999!important;
  position: relative;
}
#fb-root .fb-customerchat {
  z-index: 99!important;
}
#fb-root .fb-customerchat iframe {
  bottom: 113pt!important;
  left: 45px!important;
}
.chat-status-bar {
  margin-top: 9px;
  margin-left: 20px;
  background: rgba(231, 231, 231, 0.71);
  min-height: 31px;
  padding: 3px 10px 3px 14px ;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}
.chat-status-bar label {
  color: #fff;
}
.dropdown-menu .chat-status-bar {
  margin-left: 0;
  background: rgba(38, 35, 35, 0.49);
  margin-bottom: 5px;
}
.dropdown-menu .chat-status-bar span.toggle {
  margin-top: -5px;
}
.dropdown-menu .chat-status-bar .togglebutton label .toggle,
.dropdown-menu .chat-status-bar .togglebutton label input[type=checkbox][disabled] + .toggle {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  background-color: rgba(5, 0, 7, 0.97);
  border-radius: 15px;
  margin-left: 15px;
  transition: background 0.3s ease;
  vertical-align: middle;
}
.dropdown-menu .chat-status-bar .togglebutton label input[type=checkbox]:checked + .toggle::after {
  background-color: #0dd40e;
}
.dropdown-menu .chat-status-bar .togglebutton label input[type=checkbox]:checked + .toggle {
  background-color: rgba(45, 255, 2, 0.5);
}
.app-alert {
  position: relative;
  padding-right: 60px;
}
.app-alert:after {
  content: ' ';
  position: absolute;
  bottom: 6px;
  right: 50px;
  top: 5px;
  border: 1px solid rgba(255, 255, 255, 0.21);
}
.app-alert > i {
  height: 100%;
  font-size: 25px;
  position: absolute;
  margin-right: -45px;
  display: inline-block;
  width: 25px;
  top: 50%;
  margin-top: -14px;
}
.app-box-radio {
  margin-top: 0;
}
.app-box-radio .app-box-option {
  position: relative;
  display: inline-block;
  margin-right: 0;
}
.app-box-radio .app-box-option > input[type=radio] {
  visibility: hidden;
  margin-right: 0;
  z-index: -1;
  position: absolute;
}
.app-box-radio .app-box-option > .app-box-html {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px;
  border: 2px solid #ccc;
  margin-right: 0;
  margin-left: 10px;
  overflow: hidden;
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
  text-align: center;
}
.app-box-radio .app-box-option > .app-box-html > i {
  font-size: 26px;
  margin-top: 6px;
  display: block;
}
.app-box-radio .app-box-option > input[type=radio]:checked + .app-box-html {
  border: 2px solid #0ad221;
}
.app-box-radio .app-box-option > input[type=radio]:checked + .app-box-html:before {
  content: '';
  border: 15px solid #0ad221;
  border-color: #0ad221 transparent transparent transparent;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  bottom: -15px;
  left: -15px;
}
.app-box-radio .app-box-option > input[type=radio]:checked + .app-box-html:after {
  content: '\2714';
  position: absolute;
  bottom: -2px;
  left: 0;
  font-size: 12px;
  color: #fff;
}
.a-files {
  margin: 0;
  padding: 10px;
}
.a-files li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
.a-files li .a-file-item {
  position: relative;
  text-align: center;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc4da;
  overflow: hidden;
}
.a-files li .a-file-item > img {
  height: 100px;
}
.a-files li .a-file-item > i {
  font-size: 54px;
  padding-top: 21px;
}
.a-files li .a-file-item .a-filename {
  opacity: 0.9;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.86);
  left: 0;
  right: 0;
  color: #fff;
}
.a-files li .a-file-item .f-size-c {
  position: absolute;
  opacity: 0.9;
  bottom: 0;
  background: rgba(0, 0, 0, 0.86);
  left: 0;
  right: 0;
  color: #fff;
}
.a-files li .a-file-item .rm-a-f {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -14px;
  margin-right: -14px;
  font-size: 20px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  opacity: 0;
  background: #000;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 0 rgba(38, 38, 38, 0.83);
  -moz-box-shadow: 0 0 10px 0 rgba(38, 38, 38, 0.83);
  box-shadow: 0 0 10px 0 rgba(38, 38, 38, 0.83);
}
.a-files li .a-file-item .rm-a-f:hover {
  opacity: 1;
  background: #c00;
}
.a-files li .a-file-item .a-filename,
.a-files li .a-file-item .f-size-c,
.a-files li .a-file-item .rm-a-f {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.a-files li .a-file-item:hover .a-filename,
.a-files li .a-file-item:hover .f-size-c {
  opacity: 1;
}
.bg-white {
  background-color: #fff !important;
}
.btn.bg-white {
  color: #000 !important;
}
.btn.bg-white:hover {
  background-color: #f1f1f1 !important;
}
.no-feedback .form-control-feedback {
  display: none!important;
}
:not(.form-horizontal) .form-group.form-group-sm > input + i.form-control-feedback {
  top: 0!important;
}
.content-header > .breadcrumb {
  left: 10px;
}
.app-vertical-tab-container ul.app-v-tab-menu > li.active::after {
  transform: rotate(180deg);
}
.app-v-tab-menu {
  text-align: right;
}
.aps-ctrl-p .form-horizontal .control-label {
  padding-right: 15px !important;
}
.togglebutton label + .form-group-help-block {
  margin-right: 68px;
}
.jqgrow .grid-img {
  margin: 2px 5px 2px 7px !important;
}
/*# sourceMappingURL=main-style-rtl.css.map */