#MainLoader,.MainLoader {
    background: rgba(0, 0, 0, 0.59) none repeat scroll 0 0;
    bottom: 0;
    display: none;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999;
}
.msgText {
    color: #ffffff;
    font-size: 47px;
    left: 0;
    line-height: 59px;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: 0 1px 2px #000;
    top: 45%;
}
.form-group.has-error .form-control, .pbx-admin .form-group.has-error .input-group-addon,.form-group.has-error .input-group .input-group-addon {
  border-color: #dd4b39 !important;
}
.form-group.has-success .form-control, .pbx-admin .form-group.has-success .input-group-addon,.form-group.has-success .input-group .input-group-addon {
 border-color: #00a65a !important;
}
 
.input-group .input-group-addon {
  min-width: 40px;
}
.form-group-sm > i.form-control-feedback {
  top:25px !important;
}
.form-group:not(.form-group-sm) > i.form-control-feedback {
  top:35px !important;
}

.form-group.has-feedback div i.form-control-feedback.fa {
  top: 10px;
}

.form-group.form-group-sm.has-feedback div i.form-control-feedback.fa {
  top: 0px;
}

.has-error .form-control-feedback {
  color: #a94442;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.msg {
 	margin-bottom: 5px;
  	padding: 2px 5px;	
}
.msg strong {
  font-style: italic;
}
.msg.alert-success {
  	color: #fff !important;	
	border-color: #B9CBC3;	
}
.d-m-b{	margin-bottom: 15px !important;}
.d-m-t{	margin-top: 15px !important;}
.d-m-l{	margin-left: 15px !important;}
.d-m-r{	margin-right: 15px !important;}
.d-m{margin: 15px !important;}
.m-0{ margin:0px !important;}
.m-t-0{ margin-top:0px !important;}
.m-r-0{ margin-right:0px !important;}
.m-b-0{ margin-bottom:0px !important;}
.m-l-0{ margin-left:0px !important;}
.m-5{ margin:5px !important;}
.m-t-5{ margin-top:5px !important;}
.m-r-5{ margin-right:5px !important;}
.m-b-5{ margin-bottom:5px !important;}
.m-l-5{ margin-left:5px !important;}
.m-10{ margin:10px !important;}
.m-t-10{ margin-top:10px !important;}
.m-r-10{ margin-right:10px !important;}
.m-b-10{ margin-bottom:10px !important;}
.m-l-10{ margin-left:10px !important;}
.m-15{ margin:15px !important;}
.m-t-15{ margin-top:15px !important;}
.m-r-15{ margin-right:15px !important;}
.m-b-15{ margin-bottom:15px !important;}
.m-l-15{ margin-left:15px !important;}
.m-20{ margin:20px !important;}
.m-t-20{ margin-top:20px !important;}
.m-r-20{ margin-right:20px !important;}
.m-b-20{ margin-bottom:20px !important;}
.m-l-20{ margin-left:20px !important;}
.m-25{ margin:25px !important;}
.m-t-25{ margin-top:25px !important;}
.m-r-25{ margin-right:25px !important;}
.m-b-25{ margin-bottom:25px !important;}
.m-l-25{ margin-left:25px !important;}
.m-30{ margin:30px !important;}
.m-t-30{ margin-top:30px !important;}
.m-r-30{ margin-right:30px !important;}
.m-b-30{ margin-bottom:30px !important;}
.m-l-30{ margin-left:30px !important;}
.p-0{ padding:0px !important;}
.p-t-0{ padding-top:0px !important;}
.p-r-0{ padding-right:0px !important;}
.p-b-0{ padding-bottom:0px !important;}
.p-l-0{ padding-left:0px !important;}
.p-5{ padding:5px !important;}
.p-t-5{ padding-top:5px !important;}
.p-r-5{ padding-right:5px !important;}
.p-b-5{ padding-bottom:5px !important;}
.p-l-5{ padding-left:5px !important;}
.p-10{ padding:10px !important;}
.p-t-10{ padding-top:10px !important;}
.p-r-10{ padding-right:10px !important;}
.p-b-10{ padding-bottom:10px !important;}
.p-l-10{ padding-left:10px !important;}
.p-15{ padding:15px !important;}
.p-t-15{ padding-top:15px !important;}
.p-r-15{ padding-right:15px !important;}
.p-b-15{ padding-bottom:15px !important;}
.p-l-15{ padding-left:15px !important;}
.p-20{ padding:20px !important;}
.p-t-20{ padding-top:20px !important;}
.p-r-20{ padding-right:20px !important;}
.p-b-20{ padding-bottom:20px !important;}
.p-l-20{ padding-left:20px !important;}
.p-25{ padding:25px !important;}
.p-t-25{ padding-top:25px !important;}
.p-r-25{ padding-right:25px !important;}
.p-b-25{ padding-bottom:25px !important;}
.p-l-25{ padding-left:25px !important;}
.p-30{ padding:30px !important;}
.p-t-30{ padding-top:30px !important;}
.p-r-30{ padding-right:30px !important;}
.p-b-30{ padding-bottom:30px !important;}
.p-l-30{ padding-left:30px !important;}

.lightboxWraper {
  background: rgba(0, 0, 0, 0.69) none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
  display: none;
}
.lightboxWaiting {
  left: 0;
  margin-top: -16px;
  position: absolute;
  right: 0;
  top: 50%;
}
.box{
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}
.lightbox-body .box{
	
	border-left: 1px solid #e7e7e7;
	border-right: 1px solid #ccc;
	margin: 0;
}
.req.fa.fa-asterisk {
  font-size: 8px;
  vertical-align: 5px;
}
.btn-fa-hover .fa{
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	width:0;	
	opacity:0;
}
.btn-fa-hover:hover .fa {
  opacity: 1;  
  width: 15px;
}

.btn-fa-hover {
    /*width: 80px;*/
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.btn-fa-hover:hover {
    /*width: 95px;*/
}
.box-header {
  background: #f4f4f4 none repeat scroll 0 0;
  border-color: #e7e7e7 #e7e7e7 #505254;
  border-style: solid;
  border-width: 1px 1px 3px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -3px;
}
.box-primary .box-header{
	border-bottom-color:#3c8dbc;
}
.box-success .box-header{
	border-bottom-color:#00a65a;
}
.box-info .box-header{
	border-bottom-color:#00c0ef;
}
.box-danger .box-header{
	border-bottom-color:#dd4b39;
}
.sidebar-menu .treeview-menu { 
  margin: 0 !important; 
	padding:0;
}
.sidebar-menu > li {
  border-bottom: 1px solid rgba(1, 1, 1, 0.41);
}
.sidebar-menu > li.treeview > a{ 
	border-left: 3px solid #727476;
}
.treeview-menu li {
	padding:0 0 0 5px;
	border-left: 3px solid #727476;
	border-bottom: 1px solid #0F1111;
	background: #000;
	
}
.skin-blue .sidebar-menu > li.selected > a { 
  border-left-color: #3c8dbc;
  color: #fff;
}
.treeview-menu li.active,.treeview-menu li.selected {
  background: #0e0e0e none repeat scroll 0 0;
 position: relative;
	
}
.treeview-menu li.active{
   border-left-color: #800000  !important;
	
}
.treeview-menu li:not(.selected):hover {
	 border-left-color: #BCBCBC !important;
}
.treeview-menu li.active i,.treeview-menu li.selected i {
	color:#AE1016;
}
/*.treeview-menu li.active::after{
	position:absolute;
	content:'\f101';
	right:0;
	top:5px;
	font-family: FontAwesome;
	
}
*/
.treeview-menu li.active::after ,.treeview-menu li.selected::after {
  color: #ecf0f5;
  content: "\f0d9";
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  right: -1px;
  top: 0;
}
.sidebar-collapse .treeview-menu {
  padding: 0 !important;
}
.sidebar-menu li.header {  
  border-top: 1px solid rgba(10, 12, 13, 0.4);
  font-size: 14px;
  padding: 10px 25px 10px 15px;
}
.g-login {
  border-right: 1px solid rgba(137, 8, 8, 0.25);
  line-height: 25px;
  margin: -4px 4px -4px 0;
  padding-right: 5px;
}
.fa-btn-icon i {
	border-right: 1px solid rgba(137, 8, 8, 0.1);
	line-height: 25px;
	margin: -2px 4px -8px 0;
	padding-right: 5px;
	overflow: hidden;
}

.skin-blue .sidebar-menu > li:hover:not(.active,.selected)  > a { 
  border-left-color: #BCBCBC !important;
  color: #fff;
}
.skin-blue .sidebar-menu > li.selected:not(.has-sub)::after {
	color: #ecf0f5;
  content: "\f0d9";
  font-family: FontAwesome;
  font-size: 22px;
  position: absolute;
  right: -1px;
  top: 6px;
}
.grid-icon {
	font-size: 14px;
}
.selectbox .form-control-feedback,.form-group select.form-control+ i.form-control-feedback {
	 right: 25px !important;
}
.fa-icon-selector {
  font-family: FontAwesome;
}
.fa-btn-icon i {
	border-right: 1px solid rgba(137, 8, 8, 0.1);
	line-height: 25px;
	margin: -2px 4px -8px 0;
	padding-right: 5px;
	overflow: hidden;
}
.fa-an-login{
	
}
.fa-btn-icon .fa-an-login::before {
	content: "\f023";
}
.fa-btn-icon:hover .fa-an-login::before {
	content: "\f13e";
}
.box.box-solid[class*="bg"] > .box-header {
  color: #11414a;
}
.login-bg {
  background: #000000  none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.login-logo a {
  color: #F7F7F7;
}
.login-box-body { 
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.39);  
}
td > span.app-popover-ajax{
	display: block;
}
.popover2{
	max-width:400px !important;   
    width: auto !important; /* Max Width of the popover (depending on the container!) */
}
.arrow-dynamic{
	left:25px !important;
}
#sidebar-menu-container{
	position: relative;
}
#app-print-iframe{
	padding: 0;
	margin: 0;
	display: none;
}
.logo{
	position: fixed;
}
.main-sidebar, .left-side { 
  position: fixed;
}

.notifications-menu .menu a>i {
  left: 13px;
  position: absolute;
  top: 12px;
}
.notifications-menu .menu a > .time-container {
  color: #a7a7a7;
  display: block;
  margin-top: 6px;
  
}
.notifications-menu .menu a {
  font-size: 12px;
  font-weight: normal !important;
  padding-left: 30px !important;
  text-overflow: unset !important;
  white-space: unset !important;
	position: relative;
}
.has-feedback .form-control {
  padding-right: 28.5px;
}
.gs-jq-grid .ui-jqgrid tr.ui-row-ltr td {
    overflow: visible !important;
}
.grid-dropdown-menu{	
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.grid-dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 2px 0;
    overflow: hidden;
}
.grid-dropdown-menu > li{	
	overflow: hidden;
}
.mfp-dialog .lightboxWraper {
  background: rgba(0, 0, 0, 0.69) none repeat scroll 0 0; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  bottom: -19px;
  display: none;
  left: -29px;
  position: absolute;
  right: -29px;
  top: -19px;
  z-index: 999;
}
.popup-footer {
  background: #ccc none repeat scroll 0 0;
  margin-left: -34px;
  margin-right: -34px;
  padding: 18px;
}
.grid-dropdown-menu > li > a {
    
}
i.req {
  padding-left: 5px;
  padding-top: 5px;
  color: #B93D3D;
}
.abs-full-screen {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}
.radio > label > i.form-control-feedback,.checkbox > label > i.form-control-feedback,  label > input[type=checkbox] + i.form-control-feedback,label > input[type=radio] + i.form-control-feedback  {
  display: none !important;
}
.text-digit {
  font-size: 10px;
  margin-top: 5px;
  display: block;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.inline .radio {
  display: inline-block;
  margin-bottom: 14px !important;
  padding-right: 5px;
}
.inline .radio > label{
	white-space: nowrap;
}
.aps-ctrl-p .input-group .input-group-addon {
  background: rgba(0, 0, 0, 0.08) none repeat scroll 0 0; 
	
}
.aps-ctrl-p .input-group input + i + .input-group-addon,.aps-ctrl-p .input-group input + .input-group-addon {
  border-color: #e7e7e7 #e7e7e7 #e7e7e7 transparent;  
  border-style: solid solid solid none;
  border-width: 1px 1px 1px 0;
}
.aps-ctrl-p .input-group .input-group-addon:first-child{
  border-color: #e7e7e7 transparent #e7e7e7 #e7e7e7 ;  
  border-style: solid none solid solid ;
  border-width: 1px 0px 1px 1px;
}
.aps-ctrl-p .input-group > input:first-child + i.form-control-feedback{
	right:35px;
}
 .form-group textarea.form-control + i.form-control-feedback{
	right:27px;
}

.input-group input + i + .input-group-addon, .input-group input + .input-group-addon {  
  min-width: 41px;
}
#difrm{
	display: none;
}

.sweet-overlay {
  z-index: 1140 !important;
}
.has-feedback small.help-block {
  display: block;
  margin-top: 0 !important;
}
.has-feedback small.help-block::after {
  content: " ";
  display: block;
  position: relative;
}
.adj-fa-2x {
  font-size: 2.4em !important; 
}
.content-wrapper{
	position: relative;
}
input:disabled + .input-group-addon {
  background: #fbfbfb none repeat scroll 0 0 !important;
}
.widget-user-header-s-h{
	height: 60 !important;
}
.force-show{
  display: block !important;
  
}
.has-error .app-block-help-span .help-block{
	display: block !important;
}
.app-global-panel.panel,.app-global-panel .panel{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.app-global-panel .panel-default > .panel-heading {
	background-color: rgba(248, 248, 248, 0.09);  

	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,0.1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.1)), color-stop(100%, rgba(237,237,237,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,0.1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,0.1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,0.1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,0.1) 100%);	

}
.app-global-panel.transparent .panel-default > .panel-heading {
	background:transparent !important;
}

.app-loader{margin:0 auto;width:60px;height:50px;text-align:center;font-size:10px;position:absolute;top:50%;left:50%;-webkit-transform:translateY(-50%) translateX(-50%)}.app-loader>div{height:100%;width:8px;display:inline-block;float:left;margin-left:2px;-webkit-animation:delay 0.8s infinite ease-in-out;animation:delay 0.8s infinite ease-in-out}.app-loader .bar1{background-color:#FFF}.app-loader .bar2{background-color:#FFF;-webkit-animation-delay:-0.7s;animation-delay:-0.7s}.app-loader .bar3{background-color:#FFF;-webkit-animation-delay:-0.6s;animation-delay:-0.6s}.app-loader .bar4{background-color:#FFF;-webkit-animation-delay:-0.5s;animation-delay:-0.5s}.app-loader .bar5{background-color:#FFF;-webkit-animation-delay:-0.4s;animation-delay:-0.4s}.app-loader .bar6{background-color:#FFF;-webkit-animation-delay:-0.3s;animation-delay:-0.3s}@-webkit-keyframes delay{0%,40%,100%{-webkit-transform:scaleY(0.05)}20%{-webkit-transform:scaleY(1)}}@keyframes delay{0%,40%,100%{transform:scaleY(0.05);-webkit-transform:scaleY(0.05)}20%{transform:scaleY(1);-webkit-transform:scaleY(1)}}
