#section404 {
  position: relative;
  height: 66vh;
  .container-404 {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 520px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
    h2 {
      font-family: 'Cabin', sans-serif;
      font-size: 20px;
      font-weight: 400;
      text-transform: uppercase;
      color: $app_base_color;
      margin-top: 0px;
      margin-bottom: 25px;
    }
  }
  .content-404 {
    position: relative;
    height: 240px;
    h1 {
      font-family: 'Montserrat', sans-serif;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 252px;
      font-weight: 900;
      margin: 0px;
      color: $app_base_color;
      text-transform: uppercase;
      letter-spacing: -40px;
      margin-left: -20px;
      >span {
        text-shadow: -8px 0px 0px #fff;
      }
    }
    h3 {
      font-family: 'Cabin', sans-serif;
      position: relative;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      color: $app_base_color;
      margin: 0px;
      letter-spacing: 3px;
      padding-left: 6px;
    }

  }
}


@media only screen and (max-width: 767px) {
  .container-404 .content-404 {
    height: 200px;
  }
  .container-404 .content-404 h1 {
    font-size: 200px;
  }
}

@media only screen and (max-width: 480px) {
  #section404 {
    .container-404 .content-404 {
      height: 162px;
    }

    .container-404 .content-404 h1 {
      font-size: 162px;
      height: 150px;
      line-height: 162px;
    }

    .container-404 h2 {
      font-size: 16px;
    }
  }
}
