section.app-notification{
  -webkit-transition:  all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
  margin-bottom: -5px;
  background-color:  $top_notification_color;
  #noti-content{
    margin-top: -1000px;
    padding-bottom: 5px;
    .app-noti-item{
      padding: 15px;
      color:$top_notification_text_color;
      .close{
        position: absolute;
        top: 15px;
        right: 15px;
        opacity: 1;
        &:hover{
          background: rgba(0, 0, 0, 0.6) !important;
        }
        span{
          color: #ffffff;
          text-shadow: none;
        }
        background: rgba(0, 0, 0, 0.08);
        width: 24px;
        height: 24px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      &:hover{

        .close{
          background: rgba(0, 0, 0, 0.4);
        }

      }
    }
  }
  overflow: hidden;

}