.call-to-act-list{
  position: fixed;
  bottom: 50px;
  right:50px;
  z-index: 999;
  &.left-side{
    right:unset;
    left:50px;
  }
  .call-to-action{
    outline: none;
    display: block;
    transition: all 0.5s ease;
    border: 1px solid rgba($app_main_color, 0.5);
    background: rgba($app_main_color, 0.9);
    color: darken($app_main_color, 50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    top: 50%;
    margin-top: -15px;
    font-size: 15px;
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
    &:hover{
      color: #fff;
      background-color: darken($app_main_color,50%);
      border: 2px solid darken($app_main_color,50%);
    }
  }
}