.feature-box-container{
  .row {
    >div{
      margin-bottom: 1rem !important;
    }
    .feature-box {
      height: 100%;
      background: #fff;
      text-align: center;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      > div {

      }

      .f-icon {

        font-size: 56px;
        line-height: 150px;

        i > {

        }
      }

      .f-title {

        padding: 0 30px 15px 30px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
      }

      .f-content {
        padding: 15px 30px;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
      }

      .f-btn {
        padding-bottom: 30px;
        a,button{
          transition: all 0.5s ease;
          display: inline-block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          color:#BCBCBC;
          border: 1px solid #BCBCBC;
          &:hover{
            color:$app_main_color;
            border-color: $app_main_color;
          }
        }
      }
    }
  }
}