.still-need-section{
  background: #ffffff;
  position: relative;
  padding: 50px 30px;
  min-height: 200px;
  margin-top: -100px;
  z-index: 1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  p{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
  }
  @media (max-width: 767.98px){
    h2{
      font-size: 30px;
    }
    p{
      font-size:14px;
      line-height: 20px;
    }
  }
}